@media (max-width: 992px) {
  /* INTRO Section */
  .intro-section {
    min-height: 0;
    padding: 1rem 0 2rem;
  }

  .intro-section h1 {
    font-size: 4.5rem;
  }

  .intro-section h2 {
    font-size: 2.25rem;
    font-weight: normal;
  }
}
