.section-heading {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.section-subheading {
  text-align: center;
  margin-bottom: 6rem;
  font-size: 1.5rem;
}

/* INTRO Section */
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--green-primary);
  padding: 0;
  color: #1d2440;
}

.intro-section a {
  text-decoration: none;
}

.intro-section .container {
  margin: 2rem auto 4rem;
}

.intro-section h1 {
  font-size: 4rem;
  font-weight: 550;
}

.intro-section h2 {
  font-size: 1.6rem;
  padding: 0 4px;
  margin: 1rem 0 6rem;
  font-weight: normal;
}

.intro-section p {
  font-size: 1.25rem;
  padding: 0 8px;
  margin-top: 36px;
}

.intro-section a {
  color: inherit;
}

.list-section ul {
  list-style: none;
  margin-top: 6rem;
  padding: 0;
  display: flex;
  justify-content: center;
  row-gap: 3rem;
  column-gap: 3rem;
}

/* SERVICES and PROCESS Section */
.list-card {
  max-width: 22%;
  box-shadow: 2px 2px 16px #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.list-img {
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}

.list-content {
  padding: 1rem;
}

.list-title {
  font-size: 1.85rem;
  margin-bottom: 0;
  line-height: 2rem;
}

.list-description {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5rem;
  margin: 16px 0;
}

.list-card a {
  text-decoration: none;
}

.list-card a:hover {
  text-decoration: underline;
}

/* ABOUT US Section */
.about-us-section h3 {
  margin-bottom: 2.5rem;
}

.member-card {
  border-radius: 8px;
  box-shadow: 2px 2px 16px #ccc;
  width: 50%;
  display: flex;
  background-color: #f6f6f6;
  color: #000;
  margin: 4rem auto;
}

.member-photograph {
  width: 30%;
}

.member-photograph {
  border-radius: 8px 0 0 8px;
}

.member-details {
  padding: 2rem;
}

.member-title {
  font-size: 2.5rem;
}

.member-title span {
  font-size: 1.25rem;
}

.member-socials {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.member-socials img {
  width: 25px;
  height: 30px;
}
