/* @media only screen and (max-width: 768px) { */
@media (max-width: 1100px) {
  .container {
    max-width: 90%;
  }

  .intro-section {
    min-height: 0;
    padding: 1rem 0 2rem;
  }

  .intro-section h1 {
    font-size: 4.5rem;
  }

  .intro-section h2 {
    font-size: 2.25rem;
    font-weight: normal;
  }

  .cta-button {
    font-size: 3rem;
    padding: 0.5rem 1rem;
  }

  .section-heading {
    font-size: 5rem;
  }

  .section-subheading {
    font-size: 1.85rem;
    line-height: 2.5rem;
    font-weight: normal;
  }

  .list-section ul {
    flex-direction: column;
    margin-top: 6rem;
  }

  .list-card {
    display: flex;
    width: 100%;
    max-width: initial;
    height: 200px;
    box-shadow: none;
  }

  .list-img {
    width: auto;
    height: 100%;
  }

  .list-content {
    padding: 0.5rem 1.2rem;
  }

  .list-title {
    font-size: 2.5rem;
  }

  .list-description {
    font-size: 1.55rem;
    line-height: 2rem;
  }

  .member-card {
    margin: 3rem auto;
    width: 100%;
  }

  .member-title {
    font-size: 4rem;
  }

  .member-description {
    font-size: 1.5rem;
  }

  .member-socials img {
    width: 36px;
  }

  .contact-us-section .container {
    align-items: flex-start;
    row-gap: 3rem;
  }

  .contact-us-section .cta-button {
    font-size: 3.5rem;
  }

  .cta-button img {
    height: 3rem;
  }

  .contact-us-section h4 {
    text-align: left;
  }

  .contact-items {
    flex-direction: column;
    row-gap: 1rem;
  }

  .contact-item {
    font-size: 2.5rem;
    opacity: 0.8;
    align-items: flex-start;
    column-gap: 2rem;
  }

  .contact-item img {
    width: 64px;
    height: 48px;
  }

  footer {
    font-size: 1.5rem;
    padding: 8px 0;
  }
}
